@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-info">Welcome to the EF Core MVC Example!</h1>
    <p>This is a simple ASP.NET Core MVC application using Entity Framework Core.</p>
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index">Manage Products</a>
        <a class="btn btn-secondary btn-lg" asp-controller="Categories" asp-action="Index">Manage Categories</a>
    </p>
</div>
